$--c-grey:#898F8F;
$--c-orange:  #FFCC00;
$--c-dark-grey:  #666666;
$--c-dark:  #333333;
$--f-raleway:  "Raleway";
$--f-roboto:  "Roboto";


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    transition: all 0.2s;
}

.container {
    margin: 121px 135px;
}
.--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-subtitle {
        font-family: $--f-raleway;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: $--c-grey;
        text-transform: uppercase;
        padding-bottom: 15px;
    }
    &-title {
        font-family: $--f-roboto;
        font-weight: 900;
        font-size: 31px;
        line-height: 58px;
        color: $--c-orange;
        text-transform: uppercase;
    }
    &-info {
        display: flex;
        flex-direction: row;
    }
}

.--border {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    &-line {
        width: 210px;
        border-width: 1px;
        border-style: solid;
        border-color: $--c-orange;
        border-image: initial;
    }
    &-fire {
        margin: 0px 5px;
    }
}

.img {
    vertical-align: top;
}

.--border-vertically {
    height: 560px;
    margin-right: 70px;
    margin-left: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: $--c-orange;
    border-image: initial;
}

.--info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &-photo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 135px;
        margin-bottom: 50px;
        &-item:hover svg{
            fill: $--c-orange;
            stroke: $--c-dark;
        }
    }
    &-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 430px;
        height: 116px;
        margin-bottom: 60px;
        .--main-text {
            font-family: $--f-raleway;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: $--c-dark;
            padding-bottom: 20px;
        }
        .--svg-items {
            display: flex;
            flex-direction: row;
            width: 50px;
            height: 4px;
            justify-content: space-between;
        }
    }
}

.--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-head {
        font-family: $--f-roboto;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        text-transform: capitalize;
        color: $--c-dark-grey;
        margin-bottom: 30px;
    }
    &-border {
        width: 100px;
        margin-bottom: 30px;
        border-width: 1px;
        border-style: solid;
        border-color: $--c-orange;
        border-image: initial;
    }
    &-subheading {
        font-family: $--f-raleway;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        text-transform: capitalize;
        color: $--c-dark-grey;
        margin-bottom: 30px;
    }
    
}

.svg1 {
    width: 10px;
    height: 4px;
}

.svg2 {
    width: 20px;
    height: 4px;
}

.--button {
    font-family: $--f-roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: $--c-dark-grey;
    padding: 5px 10px;
    border: 1px solid $--c-orange;
    text-decoration: none;
    &:hover {
        background: linear-gradient(90deg, $--c-grey, $--c-orange);
        background-size: 300% 300%;
        animation: gradient 3s infinite ease-in-out;
        @keyframes gradient {
            0% {
                background-position: 0 50%;
            }
            
            50% {
                background-position: 100% 50%;
            }
            
            100% {
                background-position: 0 50%;
            }
        }
    }
}

svg  {
    fill: white;
}

path {
    fill:#CCCCCC;
}
